@model IEnumerable<QuestionViewModel>

@{
    ViewData["Title"] = "QuestionOverview";
}

<h2>Vrijwilliger - Openstaande hulpvragen</h2>

@foreach (QuestionViewModel question in Model)
{
    <div>
        <div class="question-box">
            <div class="question-content">
                <h3>@question.CareRecipientName</h3>
            </div>
            <div class="question-content">
                <h3>@question.Title</h3>
                <h2 class="care-date">@question.Date</h2>
            </div>
            <div class=question-content>
                <h3>@question.Category</h3>
            </div>
            <div class="question-content">
                @if (question.Urgency)
                {
                    <label class="urgence">[Urgent]</label>
                }
            </div>
            <div style="float: right" class="question-content">
                <input style="margin-top: 25px" class="question-button" type="button" value="Reageer" onclick="location.href = '@Url.Action("ReactionCreate", "Volunteer", new QuestionViewModel(question.QuestionId, question.Title, question.CareRecipientName))'"/>
            </div>
        </div>
    </div>
}
