@model IEnumerable<ProftaakASP_S2.Models.LogViewModel>

@{
    ViewData["Title"] = "LogOverview";
}

<h2>Log overzicht</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Gebruiker
            </th>
            <th>
                Actie
            </th>
            <th>
                Beschrijving
            </th>
            <th>
                Tijdstip
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (LogViewModel item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LogId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
        </tr>
}
    </tbody>
</table>
